body{
  margin: 80px;
  font-size: 14px;
}
h1 {
  color:black;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size:xx-large;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 .row{
   display: flex;
 } 
 .col1{
   flex: 50%;
 }
 .col2{
  margin-left: 40px;
 }
 *{
   box-sizing: border-box;
 } 
p {
  font-family: 'Courgette', cursive;
  font-size: xx-large
  
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size:xx-large

  
}
ol{
  font-family: 'Courgette', cursive;
  
}
li{
  font-family: 'Courgette', cursive;
  font-size: xx-large;
}
a{
  align-items: center;
}